{% extends 'layout.html'%}

{% block head %}
{% endblock%}

{{ ckeditor.load }}

{% block body %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
    {% if title %}
    <h1>Blog post Added!</h1>
    <br/>
    <center><img src="{{ url_for('static',filename = 'images/sample.png')}}" width="800" height="550"></center>
    <br/><br/>

    <center><p id ='demo'>This is stuff...</p></center>
    
    <script src="{{url_for('static',filename = 'js/myfile.js')}}"></script>
    {% else %}

        {% if current_user.is_authenticated%}
        <h1>Add Blog post!</h1>
        <br/>
        <form method = "POST">
            <div class="shadow p-3 mb-5 bg-body rounded">
            {{ form.hidden_tag() }}

            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>


            {{ form.slug.label(class="form-label") }}
            {{ form.slug(class="form-control") }}
            <br/>
            
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control" , rows = "6") }}
            <br/>
            <br/>
            {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content') }}

        {% else %}
        <h2>Must be Logged In ....</h2>
        <p>Sorry, You must be logged in to access this page!</p>
        <button class="btn btn-dark"><a href="{{url_for('login')}}" style="text-decoration: none; color: white;">Login here</a></button>
        {% endif %}

    {% endif %}
{% endblock%}