{% extends 'layout.html'%}

{% block head %}

{% endblock%}

{% block body %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{post.title}}</h2> <i class="bi bi-pencil-square"></i>
    <small>By: {{post.author}} | {{post.date}}</small>
    <br/>
    <br/>
    <p>{{post.content | safe }}</p>
    <br/>
    <br/>
</div>
<a href="{{url_for('posts')}}" class="btn btn-outline-warning btn-sm">Back to Blog</a>
<a href="{{url_for('delete_post', id = post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>
<a href="{{url_for('edit_post', id = post.id)}}" class="btn btn-outline-warning btn-sm">Edit Post</a>
<br/>
{% endblock %}