{% extends 'layout.html'%}

{% block head %}
<title>Trade</title>
{% endblock %}

{% block body %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<form method = "POST">
        {{ form.hidden_tag() }}

       <center><h1>{{form.symbol.label(class="form-label text_font")}}</h1></center> 
        
        <br/>

        {{form.symbol(class="form-control mx-auto w-auto", placeholder="Symbol")}}
        <br/>

        <center>{{form.submit(class="btn btn-dark")}}</center>
        <br/>

</form>

<center><iframe src="https://giphy.com/embed/rM0wxzvwsv5g4" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mit-graph-banking-rM0wxzvwsv5g4"></a></p></center>

{% endblock %}