{% extends 'layout.html'%}

{% block head %}
<title>Quote</title>
{% endblock %}

{% block body %}
<table class="table table-dark table-striped table-hover">
    <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>{{ stocks["symbol"] }}</td>
        <td>{{ stocks["name"] }}</td>
        <td>{{ stocks["price"] }}$</td>
    </tr>
</table>
<form></form>
<center><iframe src="https://giphy.com/embed/rM0wxzvwsv5g4" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mit-graph-banking-rM0wxzvwsv5g4">via GIPHY</a></p></center>

{% endblock %}