{% extends 'layout.html'%}

{% block head %}

{% endblock%}

{% block body %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
    {% if username and email %}
    <h1>Update {{username}}!</h1>
    <br/>
    <center><img src="{{url_for('static',filename = 'images/sample.png')}}" width="800" height="550"></center>
    <br/><br/>

    <center><p id ='demo'>This is stuff...</p></center>
    
    <script src="{{url_for('static',filename = 'js/myfile.js')}}"></script>
    {% else %}
    <h1>Update User....</h1>
    <br/>
    <form action = "/update/{{name_to_update.id}}" method = "POST">
        <div class="shadow p-3 mb-5 bg-body rounded">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value = name_to_update.username) }}
        <br/>

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value = name_to_update.email) }}
        <br/>

        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control", value = name_to_update.favorite_color) }}
        <br/>

        {{ form.submit(class="btn btn-dark") }} 
        <a href = "{{url_for('delete',id = id)}}" class ="btn btn-danger">Delete</a>
        </div>
    </form>
    {% endif %}
    <br/><br/>
{% endblock %}